<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout2Style.css">
</head>
<body>
    <div class="wrap">
        <header>헤더 영역</header>
        <div class="articleAsideWrap">
            <nav>메뉴영역</nav>
            <section>
                <div class="myClass">섹션 영역</div>
                <div class="articleWrap">
                    <article>아티클영역</article>
                    <article>아티클영역</article>
                    <article>아티클영역</article>
                </div>
            </section>
            <div class="asideWrap">
                <aside>어사이드 영역</aside>
                <aside>어사이드 영역</aside>
            </div>
        </div>
        <footer>푸터 영역</footer>
    </div>
</body>
</html>