<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layoutStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrap">
        <header>블로그</header>
        <nav>
            <p>카테고리</p>
            <ul>
                <li><a href="#">메뉴1</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴3</a></li>
                <li><a href="#">메뉴4</a></li>
                <li><a href="#">메뉴5</a></li>
                <li><a href="#">메뉴6</a></li>
            </ul>
        </nav>
        <div class="articleAsideWrap">
            <section>
                <div class="myClass">메뉴1</div>
                <article>
                    <div>
                        
                    </div>
                </article>
                <article>게시글2</article>
                <article>게시글3</article>
                <article>게시글4</article>
            </section>
            <aside>
                <div class="box">
                    <div class="wave -one"></div>
                    <div class="wave -two"></div>
                    <div class="wave -three"></div>
                    <!-- <div class="title">ASIDE1</div> -->
                </div>
                <div class="box">
                    <div>

                    </div>
                </div>
            </aside>
            <aside>
                <div class="box">
                    <div class="wave -one"></div>
                    <div class="wave -two"></div>
                    <div class="wave -three"></div>
                    <!-- <div class="title">ASIDE2</div> -->
                </div>
            </aside>
        </div>
        <footer>푸터영역</footer>
    </div>
</body>
</html>