a{
    width: 100px;
    line-height: 30px;
    border: 1px solid red;
    border-radius: 6px;
    padding: 12px 10px;
    background: rgb(255, 153, 0);
    color: white;
    text-decoration:none;
}
a:hover{
    background: blue;
    border-color: darkgreen;
    border-color: cyan;
}